@import url(https://fonts.googleapis.com/css?family=Oranienbaum|Roboto);

body {
  display: grid;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bluechips {
  height: 50vh;
  text-align: center;
}

#tbd {
  height: 50vh;
  text-align: center;
}

#stats {
  text-align: left;
}
