div.header
  object.logo(data='./assets/logo.svg' type="image/svg+xml")

include sections/pricebar/pricebar.pug


div#marketcapContent
  include sections/marketcap/marketcap.pug
  
div#marketcapChartContent
  include sections/marketcapChart/marketcapChart.pug

div#bluechips
  include sections/bluechips/bluechips.pug
  
div#top100Content
  include sections/top100/top100.pug
  
div#top100ChartContent
  include sections/top100Chart/top100Chart.pug
  

div#sectors
  include sections/sectors/sectors.pug

div#btcDominance
  include sections/btcDominance/btcDominance.pug
  
div#transactionVolume
  include sections/transactionVolume/transactionVolume.pug 
  
div#standards
  include sections/standards/standards.pug
  
div#disclaimer
  include sections/disclosure/disclosure.pug
  
div#contact
  include sections/contact/contact.pug

style
    include:scss bidwellreport.scss

style(lang="css")
  :scss
    body {
      grid-template-areas:
        "header header header"
        "pricebar pricebar pricebar"
        "marketcap marketcapchart bluechips"
        "top100chart top100 sectors"
        "btcDominance transactionVolume standards"
        "disclaimer disclaimer disclaimer"
        "contact contact contact";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto 250px 250px 250px auto auto;
      .header { grid-area: header; }
      #pricebar {grid-area: pricebar; }
      #marketcapContent { grid-area: marketcap; }
      #marketcapChartContent { grid-area: marketcapchart; }
      #top100Content { grid-area: top100; }
      #top100ChartContent { grid-area: top100chart;}
      #bluechips { grid-area: bluechips; }
      #sectors { grid-area: sectors; }
      #btcDominance { grid-area: btcDominance; }
      #transactionVolume { grid-area: transactionVolume; }
      #standards { grid-area: standards; }
      #disclaimer { grid-area: disclaimer;}
      #contact {grid-area: contact;}
    }
