div#marketcap
      h4 Market Cap
      p Total Market Cap: 431 Billion
      p Market Cap Growth: +20 Billion (4.8%)
      p Total Weekly Volume: 168 Billion
      p Weekly Volume Growth: 3 Billion (+2%)
    
style
      include:scss marketcap.scss
