div#marketcap
      div#container
        div#firstHalf
          p Total Market Cap:
          p Market Cap Growth: 
          p Total Weekly Volume:
          p Weekly Volume Growth:
        div#secondHalf
          p 431 Billion
          p +20 Billion (4.8%)
          p 168 Billion
          p + 3 Billion (+2%)
    
style
      include:scss marketcap.scss
