
div#pricebar
  
  div#issue
    p Monday, 7 May 2018 - Vol. 001

  div#pricebarbar
    p BTC $9253.46 (-1.70%)
    p ETH $749.74 (-0.25%)
    p LTC $159.72 (-3.31%)
    p XRP $0.82 (-2.09%)
    p IOTA $2.42 (7.45%)
  
style
  include:scss pricebar.scss
