div#sectors
  h2 Sector Performance

  div#containerSP
    div#list
      
      div.row
        p Interchain Network
      
      div.row
        p Digital Assets
      
      div.row
        p Anonymous Currencies
      
      div.row
        p Platforms
      
      div.row
        p Currencies
      
      div.row
        p Settlements
      

    div#graph
      
      
      div.row
        svg#showLoss(width="75", height="20")
          rect(width="75", height="20")
        svg#noShow(width="75", height="20")
          rect(width="75", height="20")
      
      
      
      div.row
        svg#showLoss(width="72", height="20")
          rect(width="72", height="20")
        svg#noShow(width="72", height="20")
          rect(width="72", height="20")
      
      
      
      div.row
        svg#showLoss(width="72", height="20")
          rect(width="72", height="20")
        svg#noShow(width="72", height="20")
          rect(width="72", height="20")
      
      
      
      div.row
        svg#showLoss(width="58", height="20")
          rect(width="58", height="20")
        svg#noShow(width="58", height="20")
          rect(width="58", height="20")
      
      
      
      div.row
        svg#showLoss(width="47", height="20")
          rect(width="47", height="20")
        svg#noShow(width="47", height="20")
          rect(width="47", height="20")
      
      
      
      div.row
        svg#showLoss(width="42", height="20")
          rect(width="42", height="20")
        svg#noShow(width="42", height="20")
          rect(width="42", height="20")
      
      

style
  include:scss sectors.scss
