div#top100
  h2.headline Top 100
  
  div#content
    div#gainers
      h4 Weekly Top Gainers
      p Bytecoin (BCN) $0.01 (88.26%)
      p IOStoken (IOST) $0.07 (20.58%)
      p Holo (HOT) $0.001 (17.05%)
        
    div#losers
      h4 Weekly Largest Losers
      p Bytom (BTM) $0.78 (-6.64%)
      p WaykiChain (WICC) $2.40 (-6.09%)
      p Golem (GNT) $0.74 (-6.03%)
  
  
style
  include:scss top100.scss
