
div#bluechips
  div.section
    div.sectionHeader
      p <em>Currency</em>
    p BTC
    p ETH
    p XRP
    p LTC
  div.section
    div.sectionHeader
      p <em>Price</em>
    p $7440.45 (-9.62%)
    p $557.64 (-17.93%)
    p $0.59 (-11.38%)
    p $120.15 (-9.23%)
  div.section
    div.sectionHeader
      p <em>Market Cap in Billions</em>
    p 126
    p 55
    p 23
    p 6
    
  div.section
    div.sectionHeader
      p <em>Volume in Billions</em>
    p 40 (-14.03%)
    p 17 (-4.62%) 
    p 2 (-17.03%)
    p 2 (-18.01%)
    
style
      include:scss bluechips.scss
