div#bluechips
      p BTC $9,318.49 (2.01%) 159 Billion Volume: 7.2 Billion (+6%)
      p LTC $157.97 (6.00%) 8.9 Billion  Volume: 133 Million (+6%)
      p XRP $0.81 (2.01%) 31 Billion Volume: 7.2 Billion (+6%)
      p ETH $750.66 (2.01%) +3 Billion Volume: 7.2 Billion (+6%)
    
style
      include:scss bluechips.scss
